<div class="row">
   <div class="col-lg-6">
      <div class="input-group">
         <input type="text" class="form-control" ng-model="stringToSearch" placeholder="Search by make, model or name">
         </input>
         <span class="input-group-btn">
         <button class="btn btn-default" type="button">Search</button>
         </span>
      </div>
   </div>
</div>

<div ng-repeat="phone in phones_array|PhoneFilter:stringToSearch">
   <div class="panel-group">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h4 class="panel-title">
               <a data-toggle="collapse" data-target="#{{$index}}">{{phone.name}}</a>
            </h4>
         </div>
         <div id="{{$index}}" class="panel-collapse collapse">
            <div class="panel-body">
               <strong>Code: </strong><span>{{phone.code}}</span><br>
               <strong>Make: </strong><span>{{phone.make}}</span><br>
               <strong>Model: </strong><span>{{phone.model}}</span><br>
               <strong>Tariff Code: </strong><span>{{phone.tar_code}}</span><br>
               <strong>Tariff Data: </strong><span>{{phone.tar_data}}</span><br>
               <strong>Tariff Minutes: </strong><span>{{phone.tar_minutes}}</span><br>
               <strong>Tariff Name: </strong><span>{{phone.tar_name}}</span><br>
               <strong>Tariff SMS: </strong><span>{{phone.tar_sms}}</span><br>
            </div>
         </div>
      </div>
   </div>
</div>